
[Unit]
Description=Node.js discord chatbot[Service]

[Service]
Environment=TZ="Europe/Prague"
PIDFile=/tmp/icebot-99.pid
User=ubuntu
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/ubuntu/bots/ice/
ExecStart=/usr/bin/node /home/ubuntu/bots/ice/index.js

[Install]
WantedBy=multi-user.target

